{% load static %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the football team</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <h1>Guess the logo</h1>
        <p class="subheading">How many logos of football clubs can you guess</p>
        <a href="{% url 'choose_team' %}" class="btn">Start Guessing</a>
    </div>
</body>
</html>